<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
	<meta charset="UTF-8"/>
	<title>TreinaWeb Spring Boot - Lista de Instituições</title>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: header" ></div>
	<div class="container">
		<h2>Lista de Intituições Cadastradas</h2>
		<a href="/instituicoes/inserir" class="btn btn-success">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Nova Instituição</a>
		
		<table class="table">
			<thead>
				<th>Nome da instituição</th>
				<th>Endereço</th>
				<th>Ações</th>
			</thead>
			<tbody>
				<tr th:each="instituicao: ${instituicoes}">
					<td th:text="${instituicao.nome}"></td>
					<td th:text="${instituicao.endereco}"></td>
					<td>
						<a th:href="@{/instituicoes/editar/{id}(id=${instituicao.id})}" class="btn btn-default" style="margin-right: 5px;">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true">Editar</span>
						</a>
						<a th:href="@{/instituicoes/excluir/{id}(id=${instituicao.id})}" class="btn btn-danger">
						<span class="glyphicon glyphicon-remove" aria-hidden="true">Excluir</span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
	<div th:replace="fragmentos/fragmentos :: footer" ></div>

	<script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
</body>
</html>