<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
	<meta charset="UTF-8"	/>
	<title>TreinaWeb Spring Boot - inserção de Aluno</title>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: header"></div>
	<div class="container">
		<h2>Cadastro de novo aluno</h2>
		<form class="form-horizontal" action="/alunos/inserir" method="post"
			th:object="${aluno}">
				<div class="row">
					<div class="form-group col-md-6">
						<label for="txt-nome">Nome da aluno:</label>
						<input type="text" class="form-control" id="txt-nome" th:field="*{nome}" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<label for="txt-idade">Idade do aluno:</label>
						<input type="number" class="form-control" id="txt-idade" th:field="*{idade}" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						<label for="slt-instituicao">Instituição:</label>
						<select class="form-control" th:field="*{instituicao.id}">
							<option th:each="instituicao: ${instituicoes}" th:value="${instituicao.id}"
							th:text="${instituicao.nome}"></option>
						</select>
					</div>
				</div>
			<input type="submit" class="btn btn-success" value="Salvar" />
		</form>
		
	</div>
	
	<div th:replace="fragmentos/fragmentos :: footer"></div>
	<script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js" ></script>
</body>
</html>