<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"></meta>
	<title>Spring Boot - index</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: header"></div>
	<div class="container">
	<h1>Mensagem do servidor: <span th:text="${mensagem}"></span>
	<p><small>com Bootstrap e Jquery</small></p>
	</h1>
	</div>
	<div th:replace="fragmentos/fragmentos :: footer"></div>
</body>
</html>